@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.spin_text {
  color: transparent;
  -webkit-text-stroke-color: #ffffffcd;
  -webkit-text-stroke-width: 2px;
}
